@font-face {
  font-family: "IRANSansWeb";
  src: local("IRANSansWeb"),
    url("./../fonts/IRANSansWeb.ttf") format("truetype");
}

body {
  padding: 0;
  margin: 0;
  background-color: #e6e6e6;
}

* {
  font-family: 'IRANSansWeb' !important;
}
