@font-face {
  font-family: "IRANSansWeb";
  src: local("IRANSansWeb"),
    url("./fonts/IRANSansWeb.ttf") format("truetype");
}

body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'IRANSansWeb' !important;
}
